<div class="container">
      	 <h1  class="text-center text-danger">Feedback Form</h1>
          <form class="form-group">
    	
    	     <label>Name :</label>
    	     <input class="form-control" type="text">
    	     <br>
    	     <br>
    	     <label>Rollno :</label>
    	     <input class="form-control" type="text">
    	     <br>
    	     <br>
    	     <label>Branch :</label>
    	     <input class="form-control" type="text">
    	     <br>
    	     <br>
    	     <label>College :</label>
    	     <select>
    		     <option>AEC</option>
    		     <option>ACET</option>
    		     <option>ACOE</option>
    	     </select>
    	     <br>
    	     <br>
    	     <label>Feedback :</label>
    	     <br>
    	     <textarea cols="25" rows="10"></textarea>
    	     <br>
    	     <button class="btn btn-info">Submit</button>
          </form>
      </div>
      