<!DOCTYPE html>
<html>
<head>
	<title> Layouts </title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="main"> 
       <div class="part1">
       	
       </div>
       <div class="part2">
       	 <div class="part3">
       	 	
       	 </div>
       	 <div class="part6">
       	 	<div class="part5">
       	 		
       	 	</div>
       	 	<div class="part7">
       	 		
       	 	</div>
       	 </div>
       	 <div class="part4">
       	 	
       	 </div>
       </div>
       <div class="part8">
       	
       </div>
    </div>
</body>
</html>